{% include "./entete.html" %}
{% load photos %}
{% load utilisateur %}
{% load critiquer %}
<h1>{{ resto.nomR }}</h1>

<span id="note">
    {% getLikeByIdR resto.idR lesCritiques as like %}
    {% getdislikeByIdR resto.idR lesCritiques as dislike %}

    {% for i in like %}<img src="/static/WEB_RESTO/images/like.png/">{%  endfor %}
    {% for i in dislike %}<img src="/static/WEB_RESTO/images/neutre.png/">{%  endfor %}
</span>
<section>
    Cuisine <br>
    {% for propos in proposer %}
        <li class='tag'><span class='tag'>#</span> {{ propos.idTC }}</li>
    {% endfor %}
</section>
<p id="principal">
    {{ resto.descR }}
</p>

<h2 id="adresse">Adresse</h2>
<p>
    {% include "./restaurantInfo.html" %}
    <br />Coordonées GPS :
    {{ resto.latitudeDegR }}
    {{ resto.longitudeDegR}}
</p>

<h2 id="photos">Photos</h2>
<ul id="galerie">
    {% for photo in lesPhotos %}
        <img src="/static/WEB_RESTO/photos/{{ photo.cheminP }}/">
    {% endfor %}
</ul>

<h2 id="horaires">Horaires</h2>
{{ resto.horairesR|safe }}

<h2 id="critiques">Critiques</h2>
<ul id="critiques">
    {%  for critique in lesCritiques %}
        {% getUtilisateurByMailU critique.mailU lesUtilisateurs as utilisateur %}
        <li> {{ utilisateur.pseudoU }}<br>{{ critique.note }}/5 {{ critique.commentaire }}</li>
    {% endfor %}
</ul>

{% include "./pied.html" %}

