{% load static %}
{% load photos %}

{% static "WEB_RESTO/photos/" as photosUrl %}

{% include "./entete.html" %}
<h1>Liste des restaurants</h1>
{% for resto in lesRestos %}
    <div class="card">
        <div class="photoCard">
            <img src="{{ photosUrl }}{% getUnePhotoByIdR resto.idR lesPhotos %}/">
        </div>
        <div class="descrCard">
            <a href="/WEB_RESTO/Resto/Detail/{{ resto.idR }}">{{ resto.nomR  }}</a>
            {% include "./restaurantInfo.html" %}
        </div>
        <div class="tagCard">
            <ul id="tagFood">
                {% include "./cuisineProposer.html" %}
            </ul>
        </div>
    </div>
{% endfor %}
{% include "./pied.html" %}