{% load static %}
{% load photos %}
{% load proposer %}

{% static "WEB_RESTO/photos/" as photosUrl %}

{% include "./entete.html" %}
<h1>Liste des restaurants</h1>
{% for resto in lesRestos %}
    <div class="card">
        <div class="photoCard">
            <img src="{{ photosUrl }}{% getUnePhotoByIdR resto.idR lesPhotos %}/">
        </div>
        <div class="descrCard">
            <a href="/WEB_RESTO/Resto/Detail/{{ resto.idR }}">{{ resto.nomR  }}</a>
            <br>
            {% include "./restaurantInfo.html" %}
        </div>
        <div class="tagCard">
            <ul id="tagFood">
                {% getProposerByIdR resto.idR proposer as cuisineProposer %}
                    {% for propos in cuisineProposer %}
                        <li class='tag'><span class='tag'>#</span> {{ propos.idTC }}</li>
                    {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}
{% include "./pied.html" %}
